<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ iconpath }}/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="{{ maindescription }}">
<meta name="keyword" content="{{ keywords }}">
<meta property="fb:page_id" content="{{ idpagefb }}" />
<meta property="og:title" content="{{ maintitle }}"/>
<meta property="og:url" content="{{ url }}"/>
<meta property="og:image" content="{{ url }}/assets/images/icon.png"/>
<meta property="og:site_name" content="{{ maintitle }}"/>
<meta property="og:description" content="Ayo kita revolusi cara orang Indonesia dalam memperlakukan sampahnya."/>
