@include keyframes(scDown0) {
    0% {
        @include translateY(0);
    }
    70% {
        @include translateY(20px);
    }
    100% {
        @include translateY(0);
    }
}
@include keyframes(scDown1) {
    0% {
        @include translateY(0);
    }
    80% {
        @include translateY(20px);
    }
    100% {
        @include translateY(0);
    }
}
@include keyframes(scDown2) {
    0% {
        @include translateY(0);
    }
    10% {
        @include translateY(0);
    }
    90% {
        @include translateY(20px);
    }
    100% {
        @include translateY(0);
    }
}

@include keyframes(frontwater) {
    0% {
        margin-left: -50%;
    }
    50% {
        margin-left: 0;
    }
    100% {
        margin-left: -50%;
    }
}
@include keyframes(backwater) {
    0% {
        margin-left: -2%;
    }
    50% {
        margin-left: -50%;
    }
    100% {
        margin-left: -2%;
    }
}

@include keyframes(laler) {
    0% {
        @include rotate(0deg);
        @include filter(blur(8px));

        width: 190px;
        top: 0;
        right: 0;
    }
    60% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(180deg);
        @include filter(blur(0));

        widows : 42px;
        top: 48%;
        right: 39%;
    }
}

@include keyframes(headscaleone) {
    0% {
        @include translate(-50% -50%, true);
        @include scale(1);

        opacity: 0.6;
    }
    80% {
        opacity: 0;

        @include translate(-50% -50%, true);
        @include scale(1.2)
    }
    100% {
        opacity: 0.6;

        @include translate(-50% -50%, true);
        @include scale(1);
    }
}
@include keyframes(headscaletwo) {
    0% {
        opacity: 0.6;

        @include translate(-50% -50%, true);
        @include scale(1);
    }
    80% {
        opacity: 0;

        @include translate(-50% -50%, true);
        @include scale(1.4)
    }
    100% {
        opacity: 0.6;

        @include translate(-50% -50%, true);
        @include scale(1);
    }
}
