$color-building-b : #445159;
$color-water : #477ac7;
$color-blue-main: #0072bc;
$color-blue-proof: #1cbbb4;
$color-blue-fb: #448ccb;
$color-blue-tw: #00bff3;

$color-red-main : #b2161b;

$color-dark : #1d2220;
$color-darker : #282828;
$color-darkpr : #333440;

$color-yellow-sky : #e8e6c4;
$color-yellow-main : #cb8d00;

$color-green-sky : #1cbbb4;
$color-green-main : #00a651;
$color-green-second : #008f61;