/* Main Title */
.main-title {
    @include font("permanentmarker regular" 45px 45px);
    @media only screen and(max-width: 767px){
        @include font("permanentmarker regular" 35px 45px);
    }
    color: #fff;

    &.large {
        font-size: 101px;
        line-height: 98px;
        @media only screen and(max-width: 767px){
            font-size: 74px;
        }
    }

    &.small {
        font-size: 36px;
        line-height: 33px;
        @media only screen and(max-width: 767px){
            @include font("permanentmarker regular" 24px 24px);
        }
    }

    &.shrink {
        max-width: 440px;
        margin: 0 auto;
    }
}

/* Subtitle */
.subtitle {
    @include font('clearsans regular' 21px auto);

    color: #fff;
}

/* Strong Title */
.strong-title {
    @include font('ostrich black' 99px 94px);

    color: #fff;

    &.shrink {
        max-width: 780px;
        margin: 0 auto;
    }

    &.large {
        font-size: 210px;
        line-height: 165px;

        @media only screen and (max-width : 1366px) {
            font-size: 120px;
            line-height: 100px;
        }
        @media only screen and (max-width : 767px) {
            font-size: 60px;
            line-height: 60px;
        }
    }
    @media only screen and (max-width : 767px) {
        @include font('ostrich black' 40px 60px);
    }

    &.medium {
        font-size: 180px;
        line-height: 167px;

        @media only screen and (max-width : 1366px) {
            font-size: 120px;
            line-height: 124px;
        }
        @media only screen and (max-width : 767px) {
            font-size: 50px;
            line-height: 60px;
        }
    }

    &.small {
        font-size: 85px;
        line-height: 96px;

        @media only screen and (max-width : 1366px) {
            font-size: 78px;
            line-height: 82px;
        }
        @media only screen and (max-width : 1024px) {
            font-size: 38px;
            line-height: 50px;
        }
        @media only screen and (max-width : 767px) {
            font-size: 36px;
            line-height: 40px;
        }
    }
}

.content-text {
    @include font('clearsans regular' 20px 43px #fff);
    @media only screen and (max-width : 1024px) {
        font-size : 14px;
        line-height: 30px;
    }
}