body{
	background-color: #f9f9f9!important;	
}
.container{
	width: 100%!important;
	max-width: 100%!important;
	margin: 0 auto;
	min-height: 100%!important;
	position: relative;
}
/*HEADER*/
.header{
	width:100%!important;
	margin:0 auto;
	height: 66px;
	background-color: darkred;
}

.header-wrapper{
	width: 60%;
	margin: 0 auto;
	position: relative;
}

.header .logo{
	display: block;
	width: 100%;
	text-align: left;	
}

.header .logo a:hover{
	text-decoration: none;	
}

h1.main-title.small.shrink {
	margin-top: 20px!important;
	display: inline-block;
}

.header .tagline{
	display: block;
	position: absolute;
	top: 16px;
	right: 0px;
}

.header .tagline .button-back{
	background-color: transparent;
	border: 2px solid #fff;
	padding: 5px 8px 0px 8px;
	border-radius: 5px;
}

.header .tagline .button-back label{
	vertical-align: middle;
	line-height: 14px;
}

.header .tagline div:hover > a{
	color: darkred!important;
	background-color: #fafafa;
	border: 2px solid #fafafa;
	text-decoration: none;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.title-wrap.landing {
	padding-top: 0px!important;
	margin-top: 0;
	max-width: 100%;
}

.main-title.small {
  	/*font-size: 18px!important;*/
  	line-height: 32px!important;
}

.main-title.shrink {
  	max-width: 100%!important;
  	margin-left: 0px;
}

div.strong-title{
  	font-size: 14px;
  	line-height: 24px;
  	color: #fafafa;
}

a.button-back{
  	color: #fafafa;
}

/*CONTENT*/
.content{
	min-height: 510px;
	width: 60%;
	clear: both;
	padding-top: 1px;
	background-color: #fafafa!important;
	margin: 0 auto;
}

/*FOOTER*/
#footer{
	border-top: 2px solid #ccc;
	min-height: 10px;
	color: #ccc;
	width: 60%;
	margin: 0 auto;
	margin-top: 60px;
}

.footer-container{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-container .col-1 p{
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	color: #000;
}

/*GENERAL*/
body{
    margin:0px!important;
    padding:0px !important;
}

p{
	font-family: "clearsans regular";
  	font-size: 17px;
  	line-height: 27px;
  	margin-top: 5px!important;
  	margin-bottom: 5px!important;
  	text-align: left;
}

ul{
	font-family: "clearsans regular";
	font-size: 17px;
  	line-height: 27px;
 	list-style: disc!important;
 	padding-left: 50px!important;
}

ol{
	font-family: "clearsans regular";
	font-size: 17px;
  	line-height: 27px;
 	list-style: disc;
 	padding-left: 40px;
}

h1{  	
	font-size: 32px;
  	line-height: 42px;
}

h2{
  	font-size: 24px;
  	line-height: 34px;
}

h3{
  	font-size: 20px;
  	line-height: 30px;
}

h1, h2, h3, h4, h5, h6{
	font-family: "ostrich black";
	color: #000;
  	text-align: left;
	margin-top: 40px!important;
}

blockquote {
	min-height: 40px;
	background: #898989;
	color: #fff;
	padding: 15px 30px; 
	position: relative;
	word-wrap: break-word;
	border-radius: 15px;
	margin: 40px 0px 40px 0px!important;
}

/*blockquote:after {
	content:'';
	display: block;
	position: absolute;
	top: -20px;
	left: 30px;
	width: 0;
	height: 0; 
	border-color: transparent transparent #898989 transparent;
	border-style: solid;
	border-width: 10px;
	}*/

a{
	text-decoration: none;
	color: #0072bc;
}

a:hover{
	text-decoration: underline;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.foot-link li {
    display: inline-block;
    zoom: 1;
}

.foot-link li:after {
    display: inline-block;
    zoom: 1;
    content: " | ";
    margin: 0 3px;
}

/*RESPONSIVE*/
@media only screen and (min-width: 768px) and (max-width: 1125px) {
	.header {
		height: 103px;
	}

	.header .logo{
		width: 80%;
		text-align: center!important;
	}

	.header .tagline{
		top: 27px;
	}

	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}

	.header .tagline .strong-title{
		padding-top: 3%;
	}
	.content {
  		min-height: 0;
  	}
  	.header .tagline .button-back {
		padding: 5px 8px;
	}
}

@media only screen and (min-width: 668px) and (max-width: 767px) {
	.header{
		height: 121px;
	}
	.header .logo{
		width: 100%;
		text-align: center;	
	}

	.header h1.main-title.small.shrink {
	  text-align: center;
	}

	.header .tagline{
		width: 100%;
		top: 103px;
	}

	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}

	#footer{
		width: 100%;
	}

	.footer-container{
		width: 60%;
	}
}

@media only screen and (min-width: 568px) and (max-width: 667px) {
	.header{
		height: 124px;
	}
	.header h1.main-title.small.shrink {
	  	text-align: center;
	}
	.header .tagline {
		width: 100%;
	  	top: 104px;
	  	text-align: center;
	}
	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 530px) and (max-width: 567px) {
	.header{
		height: 123px;
	}
	.header h1.main-title.small.shrink {
	  	text-align: center;
	}
	.header .tagline {
		width: 100%;
	  	top: 104px;
	  	text-align: center;
	}
	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 529px) {
	.header{
		height: 160px;
	}
	.header .logo{
		width: 100%;
		text-align: center;		
		padding-bottom: 0px;
	}

	.header .tagline{
		width: 100%;
		padding-top: 5px;
		top: 137px;
	}

	.header h1.main-title.small.shrink {
	  	text-align: center;
	}

	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}

	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}

	.content {
		width: 80%!important;
	}

	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 414px) and (max-width: 479px) {
	.header{
		height: 163px!important;
	}

	.header .logo h1 {
	  	text-align: center;
	}
	.header .tagline {
		width: 100%;
	  	top: 145px!important;
	  	text-align: center;
	}
	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 384px) and (max-width: 413px) {
	.header{
		height: 162px!important;
	}
	.header .logo h1{
		text-align: center;
	}
	.header .tagline {
		width: 100%;
	  	top: 145px!important;
	  	text-align: center;
	}
	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
	.header{
		height: 150px;
	}

	.header .logo h1{
	  text-align: center;
	}
	.header .tagline{
		width: 100%;
		padding-top: 11px;
		top: 122px;
	}
	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 353px) and (max-width: 374px){
	.header{
		height: 156px;
	}
	.header .logo{
		width: 100%;
		height: 100%;
		text-align: center;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.header .logo h1{
	margin-top: 10px!important;
	  	text-align: center;
	}
	.header .tagline{
		width: 100%;
		padding-top: 0px;
		top: 139px;
	}
	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}
	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}	
	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 352px){
	.content {
		width: 80%!important;
	}

	.header{
		height: 70px;
	}

	.header .logo{
		width: 100%;
		height: 100%;
		text-align: center;
		padding-left: 0px;
		padding-bottom: 0px;
	}

	h1.main-title.small.shrink {
	  	margin-top: 10px!important;
	  	text-align: center;
	}

	.header .tagline{
		width: 100%;
		padding-top: 11px;
		top: 45px;
	}

	.header .tagline div:hover > a{
		color: darkred!important;
		background-color: #fafafa;
		border: 2px solid darkred;
	}	
	.header .tagline .strong-title{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.header .tagline .button-back{
		width: 100%;
		border-radius: 0px;
		color: darkred;
		background-color: #fafafa;
		border: 2px solid darkred;
	}

	#footer{
		width: 100%;
	}

	.footer-container{
		width: 80%;
	}
}