<section class="stage">
    <div class="inner-frame anorganic">
        <div class="container mdcenter">
            <div class="dual-block-a">
                <div class="left">
                    <div class="ic-wrap">
                        <div class="plasbot">
                            <div class="inner">
                                {% include '../../assets/images/vectors/plasbot.svg' -%}
                            </div>
                        </div>
                        <div class="ar-wrap">
                            {% include '../../assets/images/vectors/hd-arrow-left.svg' -%}
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2 class="strong-title small">{{ anorganic.title }}</h2>
                    <p class="content-text">{{ anorganic.subtitle }}</p>
                </div>
            </div>
        </div>

        {# Including Scroll Indicator #}
        {% set ScrollTitle = anorganic.downTitle %}
        {% include '../parts/scdown.swig' -%}
    </div>
</section>
