<section class="stage auto">
    <div class="inner-frame case first no-pin">
        <div class="title-wrap">
            <h2 class="strong-title small">{{ firstcase.title }}</h2>
        </div>

        <div class="container">
            <ul class="case-grid">
                {% for ecase in firstcase.cases -%}
                    <li class="case-item">
                        <h3 class="title">{{ ecase.text }}</h3>
                        <div class="icon">
                            {% set icon = '../../assets/images/vectors/' + ecase.icon + '.svg' %}
                            {% include icon -%}
                        </div>
                    </li>
                {%- endfor %}
            </ul>
        </div>

        <div class="container plaswrap">
            <div class="plasbot">
                <div class="inner">
                    {% include '../../assets/images/vectors/plasbot.svg' -%}
                </div>
            </div>
            <div class="kerrok">
                <div class="inner">
                    {% include '../../assets/images/vectors/kerrok.svg' -%}
                </div>
            </div>
        </div>

        <div class="plasline a">
            {% include '../../assets/images/vectors/plasline.svg' -%}
        </div>
        <div class="plasline b">
            {% include '../../assets/images/vectors/plasline.svg' -%}
        </div>
        <div class="plasline c">
            {% include '../../assets/images/vectors/plasline.svg' -%}
        </div>

        {# Including Scroll Indicator #}
        {% set ScrollTitle = firstcase.downTitle %}
        {% include '../parts/scdown.swig' -%}
    </div>
</section>
