<section class="stage auto" activator="trashing">
    <div class="inner-frame case second no-pin">
        <div class="title-wrap">
            <h2 class="strong-title small">{{ datacase.title }}</h2>
        </div>

        <div class="container">
            <ul class="data-list">
                {% for item in datacase.stats -%}
                    <li class="data-wrap">
                        <div class="column {{ item.color }}">
                            <span class="text">{{ item.title }}</span>
                        </div>
                        <br>
                        <div class="column {{ item.color }}">
                            <span class="text">{{ item.value }}%</span>
                        </div>
                        <div class="column">
                            <span class="bar" value="{{ item.value }}"></span>
                        </div>
                    </li>
                {%- endfor %}
            </ul>
        </div>
        <div class="container">
            <div class="trash-list">
                {% for trash in datacase.qstats -%}
                    <li class="item">
                        <p class="title">{{ trash.title }}</p>
                        <p class="value">{{ trash.value }}</p>
                    </li>
                {%- endfor %}
            </div>
        </div>

        {# Including Scroll Indicator #}
        {% set ScrollTitle = datacase.downTitle %}
        {% include '../parts/scdown.swig' -%}
    </div>
</section>
