html, body {
    background : transparent;
}

svg {
    width : 100%;
}

.container {
    @include container(1080px);

    @media only screen and (max-width : 1366px) {
        max-width : 1040px;
    }
}

/* Main Layout */
.main-page {
    @include block(100%);
    @include relative;
}

/* Stage Constructor */
.stage {
    @include block(100%);
    @include relative;

    z-index : 99;
    @media only screen and (max-width : 1024px) {
        height : 642px;
    }
    @media only screen and (max-width : 767px) {
        height : 100%;
    }
    &.auto {
        height : auto;
    }
}

/* Inner Frame */
.frame-wrap {
    @include block(100%);
}

.inner-frame {
    @include block(100%);
    @include relative;
    @include public-effect-slow;
    @media only screen and (max-width : 1024px) {
        height : 642px;
    }
    @media only screen and (max-width : 767px) {
        height : 100%;
    }
    background-position : center;
    background-size     : cover;
    overflow            : hidden;

    &.landing {
        &:before {
            @include transition(all 30s linear);
            @include block(100%);
            @include absolute-top-left;

            content             : "";
            background-image    : url(../images/scene-1.jpg);
            background-size     : cover;
            background-position : center;
            z-index             : 0;
        }

        .title-wrap {
            @include relative;
        }
        .title-wrap, .scdown {
            z-index : 4;
        }

        &.ready {
            &:before {
                @include scale(1.3);
            }
        }
    }
    &.reason {
        background-image : url(../images/scene-2.jpg);
    }
    &.checking {
        background-color : $color-yellow-sky;
        .scdown {
            @include public-effect;
        }

        &.overlapped {
            .scdown {
                opacity : 0;
            }
        }
    }
    &.proof {
        &.first {
            background-color : transparent;
            @media only screen and (max-width : 767px) {
                background-color : #7299D4;
            }
            &.active {
                .water {
                    &.front {
                        @include animation(frontwater 15s linear infinite);

                        z-index     : 5;
                        margin-left : -50%;
                        opacity     : 0.6;
                    }
                    &.back {
                        @include animation(backwater 15s linear infinite);
                        z-index     : 4;
                        margin-left : -2%;
                        opacity     : 0.4;
                    }
                }
            }
            &.overlapped {
                .water {
                    @include important {
                        @include animation(noor 1s linear);
                    }
                }
            }
        }
        &.second {
            background-image    : url(../images/wood.jpg);
            background-size     : auto;
            background-position : left;
            background-repeat   : repeat;

            &.touching {
                .laler {
                    @include animation(laler 3s ease-out);
                    @include rotate(180deg);

                    opacity : 1;
                    width   : 42px;
                    top     : 48%;
                    right   : 39%;
                }
            }
        }
        &.third {
            background-color : $color-blue-proof;

            &.active {
                .efone {
                    @include animation(headscaleone 1s linear infinite);

                    z-index : 3;
                }
                .eftwo {
                    @include animation(headscaletwo 1s linear infinite);

                    z-index : 2;
                }
            }
            &.overlapped {
                .efone {
                    @include animation(noor 1s linear infinite);
                }
                .eftwo {
                    @include animation(noor 1s linear infinite);
                }
            }
        }
        &.fourth {
            background-color : $color-red-main;

            .headache {
                opacity : 0.2;
            }
            .title-wrap {
                margin-top : -20px;
            }
            .subtitle {
                margin-top : 0px;
                opacity    : 0.4;
            }
        }
    }
    &.case {
        .title-wrap {
            max-width : 1080px;
            padding   : 20px 0px;
            margin    : 0 auto;

            @media only screen and (max-width : 1366px) {
                padding : 50px 20px;
            }
        }

        &.first {
            background-color : $color-green-main;
        }
        &.second {
            background-color : $color-dark;
        }
    }
    &.anorganic {
        background-color : $color-yellow-main;
    }
    &.organic {
        background-color : $color-green-second;
    }
    &.trashing {
        background-color : $color-darker;

        .title-wrap {
            max-width : 1080px;
            padding   : 80px 20px;
            margin    : 0 auto;

            @media only screen and (max-width : 1366px) {
                padding : 50px 20px;
            }
            @media only screen and (max-width : 767px) {
                padding : 10px 20px;
            }
        }
        .main-title{
            @media only screen and (max-width : 767px) {
                font-size: 24px;
                line-height: 24px;
            }
        }

        &.touching {
            .trash {
                &:first-child {
                    .top {
                        top  : 0;
                        left : 0;
                    }
                }
                &:last-child {
                    .top {
                        top   : 0;
                        right : 0;
                    }
                }
            }
            .plasbot {
                margin-top : 0;
                @media only screen and (max-width : 767px) {
                    width: 100px;
                }
            }
        }
    }
    &.twitter {
        background-color : $color-darkpr;

        .title-wrap {
            max-width : 1080px;
            padding   : 80px 20px;
            margin    : 0 auto;

            @media only screen and (max-width : 1366px) {
                padding : 50px 20px;
            }
        }
    }
    &.footer {
        background-color : #ffffff;
    }

    &.pin {
        @include fixed(0 none none 0);
        @media only screen and (max-width : 767px) {
            @include relative(0 none none 0);
        }
        z-index : 0;
    }
    &.no-pin {
        @include relative;

        height         : auto;
        top            : 0;

        /* &.twitter {
            padding-bottom : 40px;
        } */
    }
}

/* Stage Controll */
.stage-control {
    @include inline-block;
    @include fixed-middle-right;

    margin-right : 100px;
    z-index      : 99;

    @media only screen and (max-width : 1366px) {
        margin-right : 60px;
    }

    @media only screen and (max-width : 767px) {
        display: none;
    }

    @media only screen and (max-width : 1024px) {
        top : 40%;
    }
    .item {
        @include block(14px);
        @include border-radius(50%);
        @include relative;

        margin-bottom : 20px;
        cursor        : pointer;

        &:last-child {
            margin-bottom : 0;
        }

        &:before {
            @include inline-block(14px);
            @include border-radius(50%);
            @include absolute-middle-center;
            @include public-effect;

            content : "";
            border  : 2px solid #ffffff;
        }

        &:hover:before, &.active:before {
            @include size(20px);

            background-color : #ffffff;
        }
    }
}

/* Title Wrap */
.title-wrap {
    @include container(1080px);
    @include align-center;

    margin-top : -30px;

    &.landing {
        padding-top : 160px;
        margin-top  : 0;
        @media only screen and (max-width : 767px) {
            padding-top : 100px;
        }
    }
    &.reason {
        @include absolute-middle-center;

        z-index : 10;

        &.shrink {
            max-width : 1080px;
        }

        @media only screen and (max-width : 1366px) {
            max-width : 1080px;
        }
    }
}

/* Scroll Down */
.scdown {
    @include block(100% none);
    @include absolute-bottom-center;
    @include align-center;

    padding       : 0 20px;
    margin-bottom : 40px;
    z-index       : 9;
    cursor        : pointer;
    @media only screen and (max-width : 767px) {
        margin-bottom : 40px;
    }
    .main-title {
        @include text-shadow(0 0 2px rgba(#000, 0.2));
    }

    .icon-wrap {
        @include block(25px);

        margin : 0 auto;

        .icon {
            @include block(100% none);

            &:first-child {
                @include animation(scDown2 1s linear infinite);
            }

            &:last-child {
                @include relative(-8px);
                @include animation(scDown1 1s linear infinite);
            }
        }

        path {
            fill : #ffffff;
        }
    }
}

/* Building Vector */
.building {
    @include block(100% none);
    @include absolute-bottom-left;

    margin-bottom : -20px;

    &.front {
        z-index : 1;
    }

    &.back {
        width       : 140%;
        margin-left : -30%;
        opacity     : 0.3;
        z-index     : 0;
    }

    path {
        fill : red;
    }
}

/* Monas */
.monas-wrap {
    @include block(10% none);
    @include absolute-bottom-right;

    margin-right  : 230px;
    margin-bottom : -10px;
    z-index       : 2;
}

/* Water */
.water {
    @include block(200% 80%);
    @include absolute-bottom-left;

    background-color : #477ac7;

    &:before {
        @include block(100% 80px);
        @include absolute-top-left;

        content             : "";
        margin-top          : -50px;
        background-image    : url(../images/vectors/water.svg#water);
        background-size     : 120%;
        background-repeat   : repeat-x;
        background-position : 0 0;
    }
    &.front {
        @include animation(frontwater 15s linear infinite);

        z-index     : 5;
        margin-left : -50%;
        opacity     : 0.6;
    }
    &.back {
        @include animation(backwater 15s linear infinite);
        z-index     : 4;
        margin-left : -2%;
        opacity     : 0.4;
    }
}

/* Piring */
.piring {
    @include block(45% none);
    @include absolute-middle-center;

    margin-left : 8%;
}

/* Laler */
.laler {
    @include inline-block(190px none);
    @include rotate(180deg);
    @include public-effect;
    @include absolute-top-right;

    opacity : 0;
    width   : 42px;
    top     : 48%;
    right   : 39%;
}

.headache {
    @include block(75% none);
    @include absolute-middle-center;

    opacity : 0.6;

    &.ehead {
        z-index : 4;
    }
}

.case-grid {
    @include grid-box(1080 12 30);
    @include relative;

    z-index : 2;
    margin-bottom: 145px;

    .case-item {
        @include grid-box-col(3);
        @include border-radius(6px);
        @include font('clearsans regular' 16px 27px);
        @include relative;

        height              : 260px;
        border              : 2px solid darken(#0f6137, 10%);
        border-bottom-width : 10px;
        background-color    : #0f6137;
        color               : #ffffff;
        padding             : 20px 24px;

        @media only screen and (max-width : 1366px) {
            font-size   : 16px;
            line-height : 26px;
            min-height  : 260px;
        }
        @media only screen and (max-width : 1024px) {
            min-height  : 350px;
        }
        @media only screen and (max-width : 767px) {
            width: 92%;
            height: 195px;
            min-height: 195px;
            margin-bottom: 30px;
            margin-left: 20px;
        }
        .icon {
            @include inline-block(60px);
            @include absolute-bottom-right;

            bottom : 20px;
            right  : 24px;

            path {
                fill : darken(#0f6137, 10%);
            }
        }
    }
}

/* Plastik + Botol */
.plaswrap {
    @include relative(20px);

    z-index : 2;
}

.plasbot {
    @include inline-block(310px none);
    @include absolute-top-left;

    @media only screen and (max-width : 1366px) {
        left : -80px;
    }
    @media only screen and (max-width : 767px) {
        @include inline-block(135px none);
    }
}

.kerrok {
    @include inline-block(324px none);
    @include absolute-top-right;

    @media only screen and (max-width : 1366px) {
        right : -80px;
    }
}

.plasline {
    @include block(360px none);
    @include absolute;

    z-index : 0;
    opacity : 0.5;

    path {
        fill : #ffffff;
    }

    &.a {
        top         : 30px;
        left        : 50%;
        margin-left : -(360px / 2);
    }
    &.b {
        @include rotate(-80deg);

        bottom : 60px;
        left   : -40px;
    }
    &.c {
        @include rotate(180deg);

        bottom : 60px;
        right  : -40px;
    }
}

/* Data List */
.data-list {
    @include block(100% none);

    .data-wrap {
        @include table(100% none);

        .column {
            @include font('clearsans regular' 20px 27px);
            @include table-cell(45% none);
            @include align-middle;

            padding : 8px 16px;
            color   : #ffffff;

            &:first-child {
                @include align-right;

                width : 50%;
            }
            &:nth-child(2) {
                @include align-center;

                width : 12%;
            }
            &:nth-child(3) {
                @include align-left;

                width : 10%;
            }

            &.red {
                color : $color-red-main;
            }
            .text{
                @media only screen and(max-width: 767px){
                    width: 170px;
                }
            }
        }
    }

    .bar {
        @include inline-block(0% 14px);
        @include public-effect-slow;

        background-color : red;
        @media only screen and(max-width: 767px){
            display: none;
        }
    }
}

.trash-list {
    @include grid-box(1040 12 30);

    margin        : 60px 0;

    .item {
        @include grid-box-col(4);
        @include border-radius(6px);
        @include align-center;

        padding : 20px 24px;
        border  : 2px solid rgba(#fff, 0.5);
        min-height : 190px;

        .title {
            @include font('clearsans regular' 20px 27px rgba(#fff, 0.5));

            margin-bottom : 5px;
        }
        .value {
            @include font('clearsans bold' 47px auto #ffffff);
        }
        @media only screen and (max-width: 1024px){
            min-height : 300px;
        }
        @media only screen and (max-width: 767px){
            min-width: 95%;
            min-height : 100%;
            margin-bottom: 20px;
        }
    }
}

.ic-wrap path {
    fill : #ffffff;
}

.mdcenter {
    @include absolute-middle-center;
}

.dual-block-a {
    @include table(100% none);

    .ic-wrap {
        @include block(100% none);
        @include relative;
    }

    .left, .right {
        @include table-cell;
        @include align-middle;
        padding: 20px;
    }
    .left {
        width         : 400px;
        padding-right : 50px;

        @media only screen and (max-width : 767px) {
            display: none;
        }
    }
    .content-text{
        @media only screen and (max-width : 767px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
    .strong-title {
        margin-bottom : 20px;
    }

    .plasbot {
        position : relative;
        left     : 0;
    }
    .ar-wrap {
        @include inline-block(62px none);
        @include absolute-top-right;

        margin-top : -60px;
    }
}

.dual-block-b {
    @include table(100% none);

    .ic-wrap {
        @include block(100% none);
        @include relative;
    }

    .left, .right {
        @include table-cell;
        @include align-middle;
        padding: 20px;
    }
    .right {
        width        : 400px;
        padding-left : 50px;

        @media only screen and (max-width : 767px) {
            display: none;
        }
    }
    .content-text{
        @media only screen and (max-width : 767px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
    .strong-title {
        margin-bottom : 20px;
    }

    .plasbot {
        position : relative;
        left     : 0;
    }
    .ar-wrap {
        @include inline-block(62px none);
        @include absolute-top-left;

        margin-top : -60px;
    }
}

.trash-list {
    @include grid-box(1040 12 20);

    padding-top : 0px;
    margin-bottom: 200px;

    .trash {
        @include grid-box-col(6);

        &:first-child {
            .top {
                @include relative(-160px none none -380px);
                @include public-effect-slow;
            }
        }
        &:last-child {
            .top {
                @include relative(-160px -400px);
                @include public-effect-slow;
            }
        }
    }
    .wrap {
        @include block(100% none);
        @include relative;
        @include align-center;

        .main-title {
            @include absolute-top-center;

            width      : 80%;
            margin     : 0 auto;
            margin-top : 80px;
            opacity    : 0.5;
        }

        .main-title {
            z-index : 2;
        }
        .object {
            @include relative;

            z-index : 1;
        }
    }
    .plasbot {
        @include absolute-top-center;
        @include public-effect-slow;

        margin-top : -160px;
        z-index    : 0;
        @media only screen and (max-width : 767px) {
            margin-top : -125px;
        }
    }
}

.tw-dummy {
    height: 100%;
}
.tw-dummy img {
    width : 100%;
    border: 1px solid white;
}

.tw-dummy li {
    float: left;
    width: 10%;
}
@media only screen and (max-width : 767px) {
    .tw-dummy li {
        width: 33%;
    }
}
.tw-dummy figure:hover{
    bottom: -36px;
    opacity: 1;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    font-family: clearsans regular;
    font-size: 12px;
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #fff; background:#fff;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
}

.share-box {
    background-color : $color-darkpr;
    path {
        fill : #ffffff;
    }

    .main-title {
        text-align : center;
        line-height: 150px;
        margin     : 0 auto;
        float      : left;
        width      : 100%;
    }

    .share-btn {
        @include table(100% none);

        .button {
            @include table-cell(50%);
            @include align-middle-center;
            @include public-effect;

            padding : 40px;
            cursor  : pointer;
            float   : none;

            &.fb {
                background-color : $color-blue-fb;
            }
            &.tw {
                background-color : $color-blue-tw;
            }

            &:hover, &:focus {
                background-color : $color-dark;
            }
        }
    }
}

.foot-block {
    @include font('clearsans regular' 17px 27px);
    @include align-center;
    clear: both;

    padding          : 60px 0;
    background-color : #ffffff;

    .intro {
        margin-bottom : 40px;
    }

    .foot-link {
        @include block(100% none);

        li {
            @include inline-block;

            letter-spacing : -4px;

            /* &:after {
                @include inline-block;

                content : " | ";
                margin  : 0 3px;
            } */

            span {
                padding-right : 10px;
                padding-left : 10px;
            }

            a {
                @include public-effect;

                color          : #000000;
                letter-spacing : normal;

                &:hover {
                    color : $color-blue-fb;
                }
            }
        }
    }
}